<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Welcome to Artastic</title>
</head>
<body>
	<div id="welcome"></div>
	<div id="CommunityPage"></div>
	<div id="uploadTool"></div>

<!--  
	<div style="border: solid 1px">
        <form enctype="multipart/form-data" method="post" th:action= "@{/upload/test}">
                	图片
            <input type="file" name="file"/>
            <input type="submit" value="上传"/>
        </form>
    </div>

-->
	<script type ="text/javascript" th:src="@{/js/index2.js}"></script>
	
</body>
</html>