<!DOCTYPE html>
<html>
<head>
    <title>Java后端WebSocket的Tomcat实现</title>
</head>
<body>
    Welcome<br/>
    <input id="receive" type="text"/>
    <input id="type" type="text"/>
    <input id="text" type="text"/>
    <button onclick="send()">发送消息</button>
    <hr/>
    <!--userno:发送消息人的编号-->
    <div><input id="userno" type="hidden" value="${userName}"/></div>
    <button onclick="closeWebSocket()">关闭WebSocket连接</button>
    <hr/>
    <div id="message"></div>
</body>

<script type="text/javascript" th:src="@{/js/test.js}"></script>
</html>